# Ignore all folders named "training_model" (if this exists)
# training_model/

# If a wildcard pattern is ignoring the folder, adjust it:
# For example, if "*.model" is ignoring "training_model":
# !training_model/
